<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">PeliculasApp</h1>
        <p class="lead">Esta es una aplicación de peliculas</p>
    </div>
</div>

<main class="container">
    <app-galeria [films]="cartelera | slice:0:6" title="Peliculas en cartelera"></app-galeria>
    <app-galeria [films]="populares | slice:0:6" title="Peliculas populares"></app-galeria>
    <app-galeria [films]="popularesNinos | slice:0:6" title="Peliculas para los más pequeños"></app-galeria>
</main>